.modal-background {
  height: 100%;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.5);
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #202020;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.modal-container .body {
  flex-grow: 1;
}

.modal-btns {
  margin: 0.5rem;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: inherit;
  color: var(--basered-color);
  border-bottom: 1px solid #202020;
}

.modal-btns:hover{
   border-bottom: 1px solid var(--basered-color);
}

.closeBtnContainer {
  margin-left: auto;
}

.closeBtnContainer button {
  cursor: pointer;
  color: var(--white-color);
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 1.5rem;
}
