.navbar-container-flex {
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  border: none;
  box-shadow: none;
  background-color: #202020;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.dark {
  background-color: inherit;
  color: inherit;
}

.nav-title {
  font-family: "Norwester", sans-serif;
  font-size: 2rem;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.flex-title {
  display: flex;
  flex-direction: column;
}

.ham-menu-icon{
  display:none;
}

.nav-logo {
  height: 2.5rem;
  width: 2.5rem;
}

.nav-search-box {
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

.search-bar {
  width: 25rem;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  outline: 2px transparent;
  border: 1px solid var(--baseshade-gray);
}

.search-btn-alone,
.search-btn {
  border: none;
  color: var(--lightgray-color);
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  background-color: #494b4c;
  margin: auto;
}

.navbar-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.navbar-icons:hover {
  color: var(--basered-color);
}

.badge-font {
  font-size: 1rem;
  height: 0.9rem;
  width: 0.9rem;
  padding: 0.8rem;
}

.badge-top {
  position: absolute;
  top: -1rem;
  left: 1.1rem;
}

.login-btn {
  background-color: var(--basered-color);
}

.login-btn:hover {
  background-color: var(--darkred-color);
}

.search-btn-alone {
  display: none;
}

@media only screen and (max-width: 1010px) {
  .nav-search-box {
    display: none;
  }

  .search-btn-alone {
    display: block;
  }

  .nav-logo{
    display: none;
  }
  .ham-menu-icon{
    display:block;
  }
  
}

@media only screen and (max-width: 750px) {
  .search-btn-alone {
    display: block;
  }
  /* .flex-title {
    font-size: 10px;
  } */
}



/* footer --------------------------------------------------------------------------- */
.child-1,
.child-2,
.child-3 {
  height: 10vh;
}

.footer-container-ec {
  margin-left: auto;
  margin-right: auto;
  width: 82%;
}

.nav-logo:hover {
  animation: rotate-center 0.6s ease-in-out both;
}

.footer-top-wrapper,
.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #494b4c;
  padding: 5rem 0;
  flex-wrap: wrap;
}
.footer-middle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #494b4c;
}

.category-flex {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
